@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<DoAnCoSoNghanh.Models.ViecLam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<style>
    .choduyet {
        color: red;
    }

    .daduyet {
        color: green;
    }

    .horizontal-pages {
        text-align: center;
        margin-top: 10px;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
            margin-right: 5px;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #337ab7;
                background-color: #fff;
                border: 1px solid #ddd;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #fff;
            background-color: #337ab7;
            border-color: #337ab7;
            cursor: default;
        }
</style>

<h1><b> Việc làm</b></h1>

<p>
    @Html.ActionLink("Thêm mới", "Them", "CongViec")
</p>
@using (Html.BeginForm("Index", "CongViec", FormMethod.Post))
{

    <p>
        <b>Tìm tên công việc :</b> @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
    </p>
}
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>

            <th>
                Mã
            </th>

            <th>
                Tên việc làm
            </th>
            <th>
                Địa điểm
            </th>
            <th>
                Loại
            </th>
            <th>
                Lương
            </th>

            <th>
                Ngày hết hạn
            </th>
            <th>
                Hình
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Mã NTD
            </th>
            <th>
                Mã KH
            </th>

            <th>Tên công ty</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaCongViec)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenVieclam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaDiemLamViec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiViecLam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Luong)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NgayHetHan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hinh)
                </td>
                <td>
                    @{
                        string trangThaiText = "Chờ duyệt";
                        string trangThaiClass = "choduyet";
                        if (item.TrangThai == 1)
                        {
                            trangThaiText = "Đã duyệt";
                            trangThaiClass = "daduyet";
                        }
                        else if (item.TrangThai == 2)
                        {
                            trangThaiText = "Từ chối";
                        }
                    }
                    <span class="@trangThaiClass">@trangThaiText</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNTD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NhaTuyenDung.TenCongTy)
                </td>

                <td>

                    <a href="@Url.Action("ChiTiet", new {  id = item.MaCongViec })" class="btn btn-info btn-sm" role="button">Chi tiết</a>
                    <a href="@Url.Action("Xoa", new {  id = item.MaCongViec  })" class="btn btn-danger btn-sm " role="button" , onclick="return confirm('Bạn chắc chắn muốn xóa chứ ?');" }>Xóa</a>

            </tr>

        }
    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) của @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter }))
</div>